<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IceBreaker Chat</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/chat_style.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/floating_window.css')}}"/>
    
    <!-- https://feathericons.com/ -->
    <!-- https://github.com/feathericons/feather#feather -->
    <script defer src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script defer src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    <script defer src="{{url_for('static', filename='js/chat_script.js')}}"></script>
  </head>
  <body>
    <div id="floating-window">
      <h2>User Info</h2>
      <p id="user-id">User ID: {{data.user_id}}</p>
      <p id="user-name">User Name: {{data.user_name}}</p>
      <p id="partner-id">Partner ID: {{data.partner_id}}</p>
      <p id="partner-name">Partner Name: {{data.partner_name}}</p>
      <p id="partner-name">{{data}}</p>
    </div>
    <div id="container">
      <header id="chat-header">

        <div id="chat-header-left">
          <!--Circle div, temporary until no profile picture-->
          <div id="chat-header-profile-picture"><img src="{{url_for('static', filename='images/rickroll-roll.gif')}}">
          </div>
          <!-- <img src="{{url_for('static', filename='images/profile_picture.png')}}" alt="Profile picture"> id="chat-header-profile-picture"/> -->
          <div id="chat-header-info">
            <h2 id="chat-header-name">{{data.user_name}}</h2>
            <div id="chat-header-status">
              <p id="status-info">Online<span id="status-dot"></span></p>
            </div>
          </div>
        </div>

        <div id="chat-header-right">
          <button id="chat-header-info-button"><i data-feather="info"></i></button>
          <button id="chat-header-close-button"><i data-feather="settings"></i></button>
        </div>
      </header>

      <main id="chat-window">
        <!-- This is where chat messages will be displayed -->
      </main>
      <form id="chat-input-form">
        <textarea id="message-textarea" placeholder="Type your message here..." required></textarea>
        <button type="submit" id="send-button" class="chat-input-button"><i data-feather="send"></i></button>
        <button type="button" id="attach-button" class="chat-input-button"><i data-feather="image"></i></button>
        <button type="button" id="emoji-button" class="chat-input-button"><i data-feather="smile"></i></button>
      </form>
    </div>
    <script>
        window.onload = function() {
            feather.replace()
        }
        var connectionStatus = "online";
        function changeStatus(status){
            const chatHeaderStatus = document.getElementById("status-info");
            if(status === "online"){
                chatHeaderStatus.innerHTML = "Online<span id='status-dot'>";
                chatHeaderStatus.style.color = "#cccccc"
                document.getElementById("status-dot").style.backgroundColor = "#00ff00";
            } else {
                chatHeaderStatus.innerHTML = "Offline<span id='status-dot'>"
                chatHeaderStatus.style.color = "#737373"
                document.getElementById("status-dot").style.backgroundColor = "#770000";
            }
        }
        function toggleStatus(){
            if(connectionStatus === "online"){
              connectionStatus = "offline";
            } else {
              connectionStatus = "online";
            }
            changeStatus(connectionStatus);
        }
        setInterval(toggleStatus, 1000);
    </script>
  </body>
</html>
