<!DOCTYPE html>
<html lang="en">
	<head>
		<title>IceBreaker</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index_style.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/floating_window.css')}}">
		<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
		<!--<script src="{{url_for('static', filename='js/floating_window.js')}}"></script>-->
	</head>
	<body>
		<div class="container">
			<h1>IceBreaker</h1>
			<form action="" method="POST">
				{{ form.hidden_tag() }}
				{{ form.username.label }} {{ form.username() }}
				{{ form.gender.label}} {{form.gender() }}
				{{ form.age.label}} {{form.age() }}
				{{ form.gender_pref.label}} {{form.gender_pref() }}
				{{ form.min_age_pref.label}} {{form.min_age_pref() }}
				{{ form.max_age_pref.label}} {{form.max_age_pref() }}
				{{ form.submit() }}
			</form>
		</div>
		<h1> {{ message }} </h1>
	</body>
</html>