/* Dark themed chat page, minimalistic, pleasant */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #242424;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#chat-header {
  height: 80px;
  width: 100%;
  max-width: 800px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid #cccccc55; */
  /* border-radius: 6px; */
  color: #fff;
}

#chat-header-left{
  height: 100%;
  /* background-color: #9a727230; */
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 20px;
  padding-left: 20px;
}

#chat-header-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#chat-header-profile-picture{
  background-color: #ccc;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#chat-header-profile-picture img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

#chat-header-name{
  margin: 0;
}

#chat-header-status{
  margin: 0;
  color: #ccc;
}

#chat-header-status p{
  margin: 0;
}

#status-dot{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-left: 5px;
  display: inline-block;
  background-color: #770000;
}

#dot-online{
  background-color: #00ff00;
}

#dot-offline{
  background-color: #770000;
}