#floating-window {
    position: fixed;
    top: 200px;
    right: 20px;
    background-color: #ffffff68;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
  }
  
  #floating-window h2 {
    margin-top: 0;
    font-size: 12px;
  }
  
  #floating-window p {
    font-size: 8px;
  }